.info-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo {
    width: 100%;
    height: 317px;
    border-radius: 6px;
}

.info-section-container > h1 {
    margin-bottom: 5px;
    font-size: 25px;
}

.info-section-container > span {
    font-size: 12.8px;
    margin-bottom: 10px;
}
.dark .info-section-container > span {
    color: #F3BF99;
}
.light .info-section-container > span {
    color: #F47D27;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}

a {
    display: inline-flex;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}

a > i {
    font-size: 13px;
    margin-right: 5px;
    margin-top: 2px;
}
.emailBtn {
    padding: 9px 31.6px;
}
.emailBtn.dark {
    background-color: #FFFFFF;
    color: #374151;
}
.emailBtn.light {
    background-color: #FFFFFF;
    color: #374151;
    border: 1px solid #D1D5DB;
}
.linkedInBtn {
    padding: 9px 22.73px;
    color: #FFFFFF;
}
.linkedInBtn.dark {
    background-color: #5093E2;
}
.linkedInBtn.light {
    background-color: #297FE5;
}