.businnes-card-container {
  padding: 30px 115px;
  background-color: #23252c;
}
.businnes-card-container .businnes-card {
  border-radius: 6px;
}
.businnes-card.dark {
  background-color: #1A1B21;
  color: #ffffff;
}
.businnes-card.light {
  background-color: #F5F5F5;
  color: #2B283A;
}
.content-section {
  max-width: 320px;
  padding: 15px 36px;
  margin-bottom: 10px;
}