.businnes-card-container {
  background-color: #23252c;
  padding: 18px 115px;
 
}
.businnes-card-container > .businnes-card {
  background-color: #1a1b21;
  color: #ffffff;
  border-radius: 4px;
}
.content-section {
  max-width: 320px;
  padding: 10px 36px;
}